[Desktop Entry]
Name=Scala-IDE
Type=Application
Terminal=false
Icon=scala-ide
Exec=scala-ide
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE;
Name[en]=Scala-IDE

